* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(216, 131, 92);
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
  cursor: pointer;
}

.debug * {
  outline: black solid 1px;
}


.main-header {
  width: 95%;
  margin: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-nav {
  display: flex;
}

.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 40px;
  background-color: rgb(230, 221, 221);
  text-align: center;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border:1px solid gray
  
}

.search-btn,.my-location-btn ,.copy-btn{
  font-size: 1.1em;
  height: 40px;
  padding: 0 20px;
  background-color: gray;
  color: white;
  font-family: cursive;
  border:none;
  margin: 5px;
  border:1px solid gray;
  transition: background-color .3s;
}

.search-btn:hover,.my-location-btn:hover , .copy-btn:hover{
  background-color: rgb(189, 180, 180);

}


.location-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content-container {
  height: 500px;
  width: 95%;
  margin: auto;
}

.main-content {
  display: flex;
  margin-top: 30px;
}

.weather-container {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border :1px solid white
}

.map-container {
  flex-basis: 60%;
  margin-inline-start: 10px;
}

.details-container {
  flex-basis: 40%;
  margin-inline-end: 10px;
  display: flex;
  flex-direction: column;
}

.location-table-container{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid white
}

input[name='copy-loc'] {
  opacity: 0;
  position: absolute;
}

/* LAYOUT */

.main-layout {
  width: 95%;
  margin: auto;
}
